*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
}

.dashboard{
    min-height: 100vh;
    display: flex;
}

.dashboard aside{
    min-height: 100vh;
    max-width: 20rem;
    width: 100%;
    background-color:rgb(51, 51, 177);
    position: relative;
}

.dashboard aside .head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    padding: 3rem 0;
}

.dashboard aside .head i{
    font-size: 2rem;
}

.dashboard aside .head h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.menus{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menus .menu{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 10px;
    padding: 0 5rem;
    cursor: pointer;
}

.menus .menu i{
    font-size: 1.5rem;
    color: #fff;
}

.menus .menu h2{
    color: #fff;
    font-size: 1.1rem;
}

.menus .menu:nth-of-type(4){
    position: absolute;
    bottom: 2rem;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2{
   font-weight: 300;
   margin-bottom: 20px;
}

table,th,td{
    border: 1px solid #b0aeae;
}

th,td{
    padding: 1rem 6rem;
}

th{
    background-color: rgb(51, 51, 177);
    color: #fff;
}

.middle{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.job-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    width: 100%;
}

.job-content input,
.job-content textarea{
    width: 100%;
    box-shadow: 1px 1px 15px grey;
    padding: 20px 2rem;
    border-radius: 10px;
}

.job-content select{
    width: 100%;
    box-shadow: 1px 1px 15px grey;
    padding: 20px 3rem;
    cursor: pointer;
}

.middle button{
    margin-top: 1rem;
    padding: 20px 3rem;
    background-color: rgb(51, 51, 177);
    color: #fff;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .dashboard{
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .dashboard aside{
        max-width: 100vw;
        min-height: 60vh;
    }

}
